Repository tuannguyen151/HTML-Base-Project: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,html}": ["eslint --fix"],
  "*.{js,css,json,html}": ["prettier --write"]
}

feat: demo chart
  src/assets/javascripts/chart.js
  src/pages/chart.html
Due: eslint --fix, prettier --write

feat: add AI rules
  .cursor/mcp.json
  .cursor/rules/best-practices.mdc
  .cursor/rules/interactive-feedback.mdc
  .cursor/rules/structure.mdc
  .github/copilot-instructions.md
Due: prettier --write

refactor(BMAD-METHOD): update agent names for consistency in configuration files
  bmad-agent/data/bmad-kb.md
  bmad-agent/ide-bmad-orchestrator.cfg.md
Due: none

refactor(BMAD-METHOD): simplify technical preferences documentation
  .vscode/settings.json
  bmad-agent/data/technical-preferences.md
Due: prettier --write

feat: add core principles for GitHub Copilot Instruction
  .github/copilot-instructions.md
Due: none

refactor(BMAD-METHOD): update Story DoD Checklist path and verification rules
  bmad-agent/personas/dev.ide.md
Due: none

chore: update GSAP to version 3.13.0 and add ScrollTrigger and SplitText plugins
  .cursor/rules/structure.mdc
  README.md
  eslint.config.js
  package-lock.json
  package.json
  src/assets/javascripts/gsap.min.js
  src/assets/javascripts/lib/ScrollTrigger.min.js
  src/assets/javascripts/lib/SplitText.min.js
  src/assets/javascripts/lib/gsap.min.js
  src/assets/javascripts/main.js
  src/index.html
  src/pages/about.html
Due: eslint --fix, prettier --write

feat: xxx
  .cursor/rules/best-practices.mdc
  .cursor/rules/interactive-feedback.mdc
  .cursor/rules/structure.mdc
  .github/copilot-instructions.md
  .github/instructions/copilot-rules.instructions.md
  .github/instructions/project-structure.instructions.md
  .github/instructions/self-improvement.instructions.md
  .github/instructions/tech-stack.instructions.md
  claude_design_system.json
  openai_design_system.json
  ui-design.png
Due: prettier --write
